<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mt-md-0 mt-3">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ url_for('static', filename='img/cat.jpg') }}" class="img-fluid rounded-circle avatar me-2">
                    {{ current_user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end bg-primary ">
                    <li><a class="dropdown-item dropdown-link" href="#">Mi perfíl</a></li>
                    <li><a class="dropdown-item dropdown-link" href="#">Mi historial</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item dropdown-link" href="{{ url_for('logout') }}">Cerrar sesión</a></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>